<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title> New Tracker</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <h1>Create a new Tracker</h1>
        <form action="/dashboard" method="post|get">
            <label for="tname">Tracker Name: </label>
            <input type ="text" id="tname" name="trackername"></br>
            <label for="tdescription">Description: </label>
            <input type ="text" id="tdescription" name="tdescription"></br>
            <label for="ttype">Tracker Type: </label>
            <select id="ttype" name="ttype">
                <option value="Numerical">Numerical</option>  
                <option value="MultipleChoice">MultipleChoice</option>
                <option value="TimeDuration">TimeDuration</option>
                <option value="Boolean">Boolean</option>
            <label for="tsettings">Settings</label>"
            <input type="text" id="tsettings" name="tsettings">
        </form>

        <form action="/dashboard" method="post|get">
            <div class="form-group">
              <label for="tname">Tracker Name: </label>
              <input type="text" class="form-control" id="tname" >
            </div>
            <div class="form-group">
              <label for="tdescription">Log Number</label>
              <input type="text" class="form-control" id="tdescription" >
            </div>
            <div class="form-group">          
              <label for="Timestamp">Timestamp:</label>
              <input type="datetime-local" class="form-control" id="Timestamp">
            </div>
            <div class="form-group">
                <label for="lvalue">Value:</label>
                <input type="number" class="form-control" id="lvalue" >
            </div>
            <div class="form-group">
                <label for="lnote">Note:</label>
                <input type="text" class="form-control" id="lnote" >
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </body>
</html>