<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
          form{
            margin: 40px;
          }
        </style>
        <title> New Tracker</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <h1>Create a new Tracker</h1>    

        <form action="/dashboard" method="post|get">
          <div class="form-group">
            <label for="tname">Tracker Name</label>
            <input type="text" class="form-control" id="tname"  name="tname">
          </div>
            <div class="form-group">
              <label for="tdescription">Description: </label>
              <input type="text" class="form-control" id="tdescription"  name="tdescription">
            </div>            
            <div class="form-group col-md-4">
              <label for="ttype">Tracker Type</label>
              <select id="ttype" class="form-control">
                <option selected value="0">Numerical</option>
                <option value="1">Multile Choice</option>
                <option value="2">Time Duration</option>
                <option value="3">Boolean</option>
              </select>
            </div>            
            <div class="form-group">          
              <label for="tsettings">Settings</label>
              <input type="text" class="form-control" id="tsettings" name="tsettings">
            </div>            
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </body>
</html>